[Desktop Entry]
Version=1.0
Name=Bitcoinlimitededition Core
Comment=Connect to the Bitcoinlimitededition P2P Network
Comment[de]=Verbinde mit dem Bitcoinlimitededition peer-to-peer Netzwerk
Comment[fr]=Bitcoinlimitededition, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcoinlimitededition, eşten eşe kriptografik sanal para birimi
Exec=bitcoinlimitededition-qt %u
Terminal=false
Type=Application
Icon=bitcoinlimitededition128
MimeType=x-scheme-handler/bitcoinlimitededition;
Categories=Office;Finance;
StartupWMClass=Bitcoinlimitededition-qt
